<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/details.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap"
        rel="stylesheet">
    <title><%= result.title %> </title>
</head>
<body>
    <!-- Hello Welcome to Details Page -->
    <div class="blogdetails">
        <a href="/cat/<%= result.tags %> "><p class="para">#<%= result.tags %> </p></a>
        <h1 class="name"><%= result.title %> </h1>
        <div class="author">
            <img src="https://ui-avatars.com/api/?bold=true&name=Banoth+Srikanth" alt="Banoth" class="auth"/>
            <h3>Banoth Srikanth</h3>
        </div>
        <img src=<%= result.image %>  alt="image">
        <div class="data">
            <%-html%> 
        </div>
       
    </div>
</body>
</html>